body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.grid {
  width: 94vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 150px); /* 3 columns */
  grid-template-rows: repeat(2, 250px); /* 3 rows  */
  grid-gap: 30px 20px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}
.grid-item {
  background-color: white;
  border: thin gray solid;
  padding: 10px;
  width: 125px;
  height: 230px;
  /* 클론 되는 오브젝트는 크기를 지정해줘야합니다 */
}
img {
  width: 100%;
}
#drop-place {
  display: flex;
  width: 96vw;
  height: 300px;
  margin: 0 auto;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}
@media (max-width: 1700px) {
  .grid {
    width: 825px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 150px); /* 3 columns */
    grid-template-rows: repeat(4, 250px); /* 3 rows  */
    grid-gap: 30px 20px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}
@media (max-width: 1000px) {
  .grid {
    width: 330px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 150px); /* 3 columns */
    grid-template-rows: repeat(10, 250px); /* 3 rows  */
    grid-gap: 30px 20px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  }
}
